@import "base/mixin";
@import "abstracts/variables";

@import "base/reset";

@import "components/sidepanel";
@import "components/bookingForm";
@import "components/breadcrumb";

@import "layouts/header";
@import "layouts/navbar";
@import "layouts/hero";

@import "pages/home";
@import "pages/details";
@import "pages/checkout";
@import "pages/collections";
@import "pages/productgrid";
@import "responsive";

@import "base/responsive";

@import "layouts/footer";