.booking-appointment__form, .search-form{
    padding: 2rem;
    
    label{
        margin: 0;
    }
    input{
        border-bottom: 1px solid #c2c2c2!important;
        border: none;
        border-radius: 0;
        font-size: 14px;
    }
    
}