.checkout-form {
    padding: 26px 0;
    border-radius: 6px;

    input {
        padding: 1rem 2rem;
    }

    input,
    .custom-select {
        height: 3rem;
        margin: 8px 0;
        border-radius: 4px;
        border: 1px solid #eee;
        color: $text-color;
    }

    textarea{
        height: 8rem;
    }
}


.order-summary-card {
    border-left: 1px solid #f5f5f5;

    h6 {
        text-align: left;
        margin-right: 2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .img-wrapper{
        height: auto;
        width: 20%;

        img{
            height: 100%;
            width: 100%;
        }
    }

    .checkout-btn{
        width: 50%;
    }
}