@import "../base/responsive";

.parallax{
    background-image: url("../images/collections/11.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .overlay-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(60, 60, 60, 0.5);
    }
}

.single-products-catagory {
    // padding: 1rem;
    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        &::after {
            @include trans-duration(250ms);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';
            background-color: rgba(60, 60, 60, 0.7);
            opacity: 0;
            visibility: visible;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
    .hover-content {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 10;
        opacity: 0;
        @media #{$breakpoint-xs} {
            top: 30px;
            left: 30px;
        }
        .line {
            width: 80px;
            height: 3px;
            background-color: #f5f5f5;
            display: block;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            color: $text-color;
            line-height: 1;
            margin-bottom: 5px;
            @include trans-duration(250ms);
        }
        h4 {
            margin-bottom: 0;
            @include trans-duration(250ms);
        }
    }
    &:hover,
    &:focus {
        a::after {
            opacity: 1;
            visibility: visible;
        }
        .hover-content {
            opacity: 1;
            p,
            h4 {
                color: #fff;
            }
        }
    }
}


.product-categories__wrapper{
    .categories-slider{
        .item{
            height: 24rem;
            width: 100%;

            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}