.main-content-wrapper {
    @include trans-duration(500ms);

    .product_area {
       
    }
  
    .single-product-area {
        position: relative;
        z-index: 1;
        @include flex(0 0 calc(95% - 320px));
        width: calc(95% - 320px);
        max-width: calc(95% - 320px);
        @media #{$breakpoint-lg} {
            @include flex(0 0 calc(100% - 320px));
            width: calc(100% - 320px);
            max-width: calc(100% - 320px);
        }
        @media #{$breakpoint-md} {
            @include flex(0 0 calc(100% - 280px));
            width: calc(100% - 280px);
            max-width: calc(100% - 280px);
        }
        @media #{$breakpoint-xs} {
            @include flex(0 0 100%);
            width: 100%;
            max-width: 100%;
            padding-top: 0;
        }
        .breadcrumb {
            background-color: transparent;
            .breadcrumb-item {
                font-size: 14px;
                text-transform: uppercase;
                a {
                    color: #242424;
                    font-size: 14px;
                    text-transform: uppercase;
                    &:hover {
                        color: $bg-default;
                    }
                }
            }
            .breadcrumb-item + .breadcrumb-item::before {
                content: ">";
            }
        }
        .single_product_thumb {
            position: relative;
            z-index: 1;
            margin-bottom: 170px;
            .carousel-indicators {
                margin: 0 7.5px;
                bottom: -165px;
                @media #{$breakpoint-lg} {
                    bottom: -105px;
                }
                @media #{$breakpoint-md} {
                    bottom: -105px;
                }
                @media #{$breakpoint-xs} {
                    bottom: -95px;
                }
                li {
                    @include flex(0 0 25%);
                    width: 25%;
                    min-width: 25%;
                    height: 140px;
                    background-position: center center;
                    background-size: cover;
                    border: 2px solid transparent;
                    cursor: pointer;
                    @media #{$breakpoint-lg} {
                        height: 80px;
                    }
                    @media #{$breakpoint-md} {
                        height: 80px;
                    }
                    @media #{$breakpoint-xs} {
                        height: 70px;
                    }
                    &.active {
                        border: 2px solid $bg-default;
                    }
                }
            }
            .carousel-item a {
                cursor: zoom-in;
            }
        }
        .single_product_desc {
            position: relative;
            z-index: 1;
            .product-meta-data {
                .line {
                    width: 80px;
                    height: 3px;
                    background-color: $bg-default;
                    margin-bottom: 15px;
                    display: block;
                }
                .product-price {
                    font-size: 14px;
                    font-weight: 400;
                    color: $bg-default;
                    line-height: 1;
                    margin-bottom: 10px;
                }

                .category-title{
                    line-height: 1;
                }

                a {
                    display: block;
                    h6 {
                        font-size: 30px;
                        margin-bottom: 5px;
                        font-weight: 700;

                        @media #{$breakpoint-lg} {
                            font-size: 20px;
                        }
                    }
                }
                .ratings-review {
                    .ratings {
                        i {
                            font-size: 10px;
                            color: $bg-default;
                        }
                    }
                    .review {
                        a {
                            display: inline-block;
                            color: #6b6b6b;
                            font-size: 14px;
                        }
                    }
                }
                .avaibility {
                    margin-bottom: 0;
                    font-size: 12px;
                    color: #6b6b6b;
                    line-height: 1;
                    i {
                        color: #20d34a;
                        font-size: 12px;
                    }
                }
            }
            .short_overview {
                p {
                    line-height: 2.1;
                    color: #6b6b6b;
                }
            }
            .cart {
                p {
                    margin-bottom: 0;
                    line-height: 40px;
                    height: 40px;
                    padding: 0 15px;
                    background-color: #f5f7fa;
                }
                .quantity {
                    position: relative;
                    z-index: 1;
                    input {
                        text-align: center;
                        background-color: #f5f7fa;
                        height: 40px;
                        width: 100px;
                        border: none;
                        -moz-appearance: textfield;
                        -webkit-appearance: textfield;
                        appearance: textfield;
                        color: #959595;
                    }
                    .qty-plus {
                        position: absolute;
                        right: 0;
                        top: 0;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                        height: 20px;
                        cursor: pointer;
                        color: #959595;
                    }
                    .qty-minus {
                        position: absolute;
                        top: 21px;
                        right: 0;
                        line-height: 1;
                        width: 30px;
                        height: 25px;
                        text-align: center;
                        cursor: pointer;
                        color: #959595;
                    }
                }
                
            }
        }
    }
}


.product-topbar {
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
    .total-products {
        @media #{$breakpoint-lg} {
            margin-bottom: 30px;
        }
        @media #{$breakpoint-md} {
            margin-bottom: 30px;
        }
        @media #{$breakpoint-xs} {
            margin-bottom: 30px;
        }
        p {
            margin-bottom: 15px;
            font-size: 14px;
            color:#000;
            text-transform: uppercase;
        }
        .view {
            a {
                @include flex(0 0 40px);
                width: 40px;
                height: 40px;
                background-color: #131212;
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 44px;
                &:first-child {
                    background-color: $bg-default;
                }
            }
        }
    }
    .product-sorting {
        p {
            margin-bottom: 0;
            font-size: 14px;
            height: 40px;
            background-color: #f5f7fa;
            line-height: 40px;
            color: #959595;
            padding-left: 15px;
            padding-right: 15px;

            @media #{$breakpoint-lg} {
                font-size: 12px;
            }
            @media #{$breakpoint-md} {
                font-size: 12px;
            }
            @media #{$breakpoint-xs} {
                font-size: 12px;
            }
        }
        form {
            select {
                background-color: #f5f7fa;
                border: none;
                height: 40px;
                min-width: 80px;
                @media #{$breakpoint-md} {
                    min-width: 60px;
                }
                option {
                    font-size: 12px;
                    font-weight: 400;
                    color: #000;
                    text-transform: uppercase;
                    background-color: #f5f7fa;
                }
            }
        }
    }
    .nice-select {
        border: none;
        font-size: 14px;
        font-weight: 400;
        height: 40px;
        padding-left: 0;
        line-height: 40px;
        margin: 0;
        background-color: #f5f7fa;
        border-radius: 0;
        text-align: center !important;
        min-width: 100px;
        @media #{$breakpoint-md} {
            min-width: 60px;
            font-size: 12px;
        }
        @media #{$breakpoint-xs} {
            min-width: 60px;
            font-size: 12px;
        }
        .list {
            background-color: #f6f6f6;
            border-radius: 0;
            border: none;
            left: auto;
            right: 0;
            .option.selected {
                color: $bg-default;
            }
        }
    }
}

.single-product-wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;

    .product-img {
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            @include trans-duration(500ms);
        }
        .hover-img {
            @include trans-duration(500ms);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
        }
    }
    .product-description {
        position: relative;
        z-index: 1;
        padding-top: 25px;
        .product-meta-data {
            .line {
                width: 80px;
                height: 3px;
                background-color: $bg-default;
                margin-bottom: 15px;
                display: block;
            }
            .product-price {
                color: $bg-default;
                font-size: 14px;
                margin-bottom: 10px;
            }

        
            a {
                display: block;
                h6 {
                    margin-bottom: 0;
                    font-weight: 800 ;
                    line-height: 2;
                }
            }
        }
        .ratings-cart {
            .ratings {
                i {
                    font-size: 10px;
                    color: $bg-default;
                }
            }
            .cart {
                display: block;
            }
        }
    }
    &:hover {
        .product-img {
            .hover-img {
                opacity: 1;
                visibility: visible;
            }
            .product-favourite a {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.add-to-cart-btn{
    opacity: 0;
    display: none;
    transition: all 0.9s ease-in;

    &:hover{
        background: #131212;
    }
}

.single-product-wrapper:hover {
    
    .add-to-cart-btn{
        opacity: 1;
        display: block;
    }

    .product-description {
        background: #f5f5f5;
    }
}

.pagination {
    position: relative;
    z-index: 1;
    .page-item {
        .page-link {
            width: 40px;
            height: 40px;
            border: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 40px;
            padding: 0;
            text-align: center;
            color: #242424;
            &:hover,
            &:focus {
                color: #fff;
                box-shadow: none;
                background-color: $bg-default;
            }
        }
        &.active {
            .page-link {
                color: #fff;
                box-shadow: none;
                background-color: $bg-default;
            }
        }
        &:first-child {
            .page-link {
                margin-left: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:last-child {
            .page-link {
                margin-left: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
