.hero-container {
    max-width: 75%;
    position: relative;
    z-index: 1;
    // height: 525px;

    .img-wrapper {

        // a{
        //     display: block;
        // }

        img {
            width: 80%;
            transition: all 0.3s ease-in;

            &:hover{
                transform: scale(1.1);
            }
        }

    }
    .img-wrapper a:hover .img{
        transform: scale(1.1);
    }

    div:nth-child(2),
    div:nth-child(4),
    div:nth-child(7) {
        margin-top: 1rem;
    }

    div:nth-child(3),
    div:nth-child(6),
    div:nth-child(9) {
        margin-top: 2rem;
    }

    div:nth-child(4),
    div:nth-child(6) {
        img {

            height: 85%;
        }
    }
}